{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{% block body %}
	<div>
		<h1>{{ sortie.getNom }}</h1>
		{% if userCanEdit %}
			<p>Statut : {{ sortie.etat.libelle }}</p>
			{% if sortie.etat.libelle in ["Ouverte", "Clôturée"] %}
				<a class="" href="{{ path('app_sortie_cancel', { id: sortie.id }) }}">Annuler</a>
			{% endif %}
			{% if sortie.etat.libelle === "Créée" %}
				<a class="" href="{{ path('app_sortie_cancel', { id: sortie.id }) }}">Publier</a>
			{% endif %}
			<a class="" href="{{ path('app_sortie_edit', { id: sortie.id }) }}">Modifier</a>
			<a class="" href="{{ path('app_sortie_delete', { id: sortie.id }) }}">Supprimer</a>
		{% endif %}
		<h5>Détails</h5>
		<p>Date : {{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</p>
		<p>Durée prévue : {{ sortie.duree }}</p>
		<p>Organisateur : {{ sortie.organisateur.getNomPrenom }}</p>
		<p>Lieu : {{ sortie.lieu.nom }}</p>
		<p>Infos : {{ sortie.infosSortie }}</p>
		<p>Places disponibles : {{ sortie.nbInscriptionsMax }}</p>
		<p>Date limite d'inscription : {{ sortie.dateLimiteInscription|date('d/m/Y') }}</p>
		<h5>Participants</h5>
		<ul>
			{% for participant in sortie.participants %}
				<li>{{ participant.nomPrenom }}</li>
			{% endfor %}
		</ul>
		<a class="" href="">S'inscrire</a>
	</div>
{% endblock %}
