{% extends 'base.html.twig' %}

{% block title %}Liste sorties{% endblock %}

{% block body %}

    <a href={{ path('app_sortie_add') }}>Ajouter une sortie</a>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5 mb-5">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Date</th>
                            <th scope="col">Clôture inscriptions</th>
                            <th scope="col">Places restantes</th>
                            <th scope="col">Organisateur</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sortie in sorties %}
                            {%  if sortie.etat.libelle === "Ouverte" %}
                            <tr>
                                <th scope="row"><a href={{ path('app_sortie_read', {id: sortie.id}) }}>{{ sortie.nom }}</a></th>
                                <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
                                <td>{{ sortie.dateLimiteInscription|date('d/m/Y H:i') }}</td>
                                <td>{{ sortie.nbInscriptionsMax - sortie.participants|length }}</td>
                                {# <td>
                                    {% if app.user in sortie.participants %}
                                        Oui
                                    {% else %}
                                        Non
                                    {% endif %}
                                </td> #}
                                <td>{{ sortie.organisateur.pseudo }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                    </table>

            </div>
        </div>
    </div>
</div>

{% endblock %}