{% extends 'base.html.twig' %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/login.css') }}">
{% endblock %}
{% block title %}Connexion - Sortir.com{% endblock %}

{% block body %}
<body>
    <div class="container-fluid">
    <div class="container container-login">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 logo mb-4"><img src="{{asset('images/logo.png')}}" alt="logo" class="img-fluid"></div>
            <div class="col-md-2"></div>
        </div>
        

        {% if error %}
            <div class="error">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <form method="post" action="{{ path('app_login') }}">
            <div class="form-group">
                <label for="username">Identifiant :</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required autofocus>
            </div>

            <div class="form-group">
                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="_password" required>
            </div>

            <div class="checkbox-group">
                <input type="checkbox" id="remember_me" name="_remember_me">
                <label for="remember_me">Se souvenir de moi</label>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn-submit">Connexion</button>
                <div>
                    <a href="#" class="link">Mot de passe oublié</a>
                </div>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </form>
    </div>
</div>
</body>

{% endblock %}
